html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.jumbotron{
  background-image: url(../images/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px;
  text-align: center;
  margin-bottom: 0px;
}
.headline{
  color: white;
  font-size: 30px;
  transform: translate(0px, 20%);
}

.party{
  background-color: #F15A29;
  margin-left: 0px;
  margin-right: -15px;
}
.happy{
  background-color: #e4e5e7;
  margin-left: 0px;
  margin-right: -15px;
}
.breakfast{
  background-image: url(../images/foodtop/breakfast.jpg);
}
.lunch{
  background-image: url(../images/foodtop/lunch.jpg);
}
.dinner{
  background-image: url(../images/foodtop/dinner.jpg);
}
.meals{
  height: 200px;
}
.breakfast,.lunch,.dinner,.party{
  color: white;
}
/* .breakfast,.lunch,.dinner,.party,.happy{
  text-align: center;
  padding-top: 30px;
} */
.fast-food{
  background-image: url(../images/backgrounds/foodsBg.jpg);
}
.subscribe{
  background-image: url(../images/backgrounds/subscribe.jpg);
  color: white;
  text-align: center;
  width: 50%;
}
.emailInput{
  opacity: 0.3;
  border:none;
  padding:0.375rem 0.75rem;
}
.btn-primary{
  border-radius: 0px;
  background-color: #F15A29;
}
.footer{
  background-color: #F15A29;
  color: white;
  text-align: center;
  padding-top:50px;
  padding-bottom: 10px; 
}
footer img{
  margin-right: 40px;
}
.copyright{
  font-size: 12px;
}

/* .social{
  display: flex;
  background-color: #F15A29;
  margin-left: auto;
  margin-right: auto;
}
.social img{
  margin-right: 15px;
} */