html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.head{
  display:flex;
  flex-direction: column;
}
.jumbotron{
  background-image: url(../images/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px;
  text-align: center;
  margin-bottom: 0px;
}
.headline{
  color: white;
  font-size: 30px;
  transform: translate(0px, 40px);
}

.party{
  background-color: #F15A29;
  margin-left: 0px;
  margin-right: -15px;
}
.happy{
  background-color: #e4e5e7;
  margin-left: 0px;
  margin-right: -15px;
}
.breakfast{
  background-image: url(../images/foodtop/breakfast.jpg);
}
.lunch{
  background-image: url(../images/foodtop/lunch.jpg);
}
.dinner{
  background-image: url(../images/foodtop/dinner.jpg);
}
.meals{
  height: 200px;
}
.breakfast,.lunch,.dinner,.party{
  color: white;
}

